<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
        <display-name>SpringExample</display-name>
        <context-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>
            /WEB-INF/context/spring-app-context.xml
          </param-value>
        </context-param>
        <context-param>
          <param-name>defaultHtmlEscape</param-name>
          <param-value>false</param-value>
        </context-param>
        <listener>
          <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>

        <servlet>
          <servlet-name>Jersey Servlet</servlet-name>
          <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
          <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.gleason.example.rest</param-value>
          </init-param>
          <init-param>
            <param-name>webpath</param-name>
            <param-value>/SpringExample</param-value>
          </init-param>
          <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
          <servlet-name>Jersey Servlet</servlet-name>
          <url-pattern>/*</url-pattern>
        </servlet-mapping>

</web-app>


